* {
    margin:0;
    text-decoration: none;
    font-family: 'Hind Madurai', sans-serif;
}

body{
    /* max-width:900px; */
    margin: auto auto;
    
    /* background-image: url('./assets/topo.jpg'); */
    /* background-repeat: repeat-y; */
}
a:visited{
    color:inherit;
    text-decoration: none;
}

a{
    text-decoration-line: underline;
    padding-right: 10px;
}

header{
    position: relative;
    grid-column: 2/2;
    background: rgba(20,20,20, .2)


}

.admin-page-container{
    height:100%;
    background: red;

}

.admin-page-container > a {
    padding: 20px;
    margin: 20px;

}

.admin-panel > form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    
}

.admin-panel > input{
    display:block;
}

.trail-link{
    text-decoration: inherit;
    display:block;
}



.app-view{
    display:grid;
    grid-template: 5vh auto 15vh / 15vw auto 15vw;

}

.signin-link{
    text-decoration: none;
}

.landing-link{
    display: inline-block;
}
.logo{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 2em;
}

.main{

    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-button{
    right: 5px;
    top: 5px;
    position: absolute;
}
